@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&family=Sunflower&display=swap');

#content {
    max-width: 1700px;
    margin: 0 auto;
}

h1 {
    font-family: 'Send Flowers';
}

header {
    background-color: #136b90;
    display: grid;
    grid-template-columns: 150px auto;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -20px;
}

#logo_link {
    padding-top: 10px;
    margin-top: -25px;
    height: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 90px;
    font-size: 25px;
}

nav a:hover {
    background-color: #f4abbc;
    color: #136b90;
}

#banner {
    margin-right: -50px;
}

#banner-img {
    width: 100%;
    height: 750px;
    margin-left: -8px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h6 {
    color: #ffffff;
}

.workbench {
    grid-column: 1/2;
    grid-row: 1;
    padding-left: 50px;
}

.workbench-pic {
    width: 700px;
}

.mission {
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
    margin-left: 550px;
    margin-bottom: -50px;
    padding-right: 20px;
}

.mission p {
    font-size: 35px;
    font-family: 'Sunflower';
    background-color: #f4abbc;
}

.mission h2 {
    font-size: 40px;
    font-family: 'Send Flowers';
}

.bouquet {
    grid-column: 1/2;
    grid-row: 2;
    margin-left: 100px;
}

.bouquet-pic {
    width: 650px;
    height: 700px;
}

.aboutus {
    grid-column: 2/5;
    grid-row: 2;
    text-align: center;
    padding-left: 10px;
    padding-right: 30px;
    margin-top: -50px;
}

.aboutus h2 {
    font-size: 40px;
    font-family: 'Send Flowers';
}

.aboutus p {
    font-size: 35px;
    font-family: 'Sunflower';
}

footer {
    background-color: #e23961;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 25px;
    padding-right: 35px;
    margin-left: -10px;
    margin-right: -25px;
    margin-bottom: -25px;
}

footer h2 {
    text-align: center;
}

footer h3 {
    font-size: 25px;
}

/* css for suppage2 */